<div id="poop">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><%= stream.channel %> playing <%= stream.game %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=<%= stream.channel %>" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=<%= stream.channel %>&auto_play=true&start_volume=80" /></object>
      <br>
      Starting viewers: <%= stream.starting_viewers %>  |  Current viewers: <span id="current-viewers"><%= stream.starting_viewers %> <small>(~30s delay)</small></span>
      <br>
      Next TWITCHRAID in approx : <span id="defaultCountdown" class="countdown"></span>
      <br>
      <small>Streams randomly selected from a pool of all twitch streams with low view count</small>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <iframe frameborder="0" scrolling="no" src="http://twitch.tv/<%= stream.channel.downcase %>/chat?popout=" height="500" width="300"></iframe>
    </div>
  </div>
</div>
